.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('./res/Pacifico-Regular.ttf') format('woff2'),
		url('./res/Pacifico-Regular.ttf') format('woff');
	font-style: normal;
}


button, input{
    outline:none; 
}

body{
    background-color: #eeeeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#title{
    font-size: 54px;
    margin-left: 50px;
    margin-bottom:0;
    font-family: 'Pacifico-Regular';
}

#grid{
    background-color:rgb(187, 187, 187);
    border-radius: 10px;

    
}

#game{
    display: flex;

    margin: 0 auto;
    justify-content: center;
}

#leftSide{
    padding:auto;
    text-align: center;
}

#controls{
    margin-left:0;
    padding-left: 0;
}

.square{
    font-family: 'Pacifico-Regular';
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(83, 50, 1);
    background-color:rgb(209, 166, 85);
    color:rgb(44, 28, 3);
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

#shuffle, #playAgain{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color:rgb(209, 166, 85);
    font-size: 24px;
    border-radius: 10px;
    margin-top: 10px;
}

#playAgain{
    position: absolute;
    right:10px;
    bottom: 10px;
}

#lead{
    vertical-align: top;
}

#leaderboard table{
    
    padding-left: 30px;
    font-size: 24px;
    color: rgb(187, 36, 36);
}

#content td{
    width: 50%;
}
#content{
    margin:auto;

}

#stats{
    display: flex;
    padding: 20px;
    color: rgb(187, 36, 36);
    font-weight: bold;

}

#stats div{
    margin-left: 50px;
    margin-right:50px;
    font-size: 24px;
}

#sizeLabel{
    padding-left: 10px;
    font-size: 24px;
}

#size, #size-btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color:rgb(187, 187, 187);
    font-size: 24px;
    border-radius: 10px;
    margin-top: 10px;
}

#instructions{
    height:118px;
    width: 636px;
    background-image: url('res/15GameInstruct.png');
    margin: auto;
}

#winPanel{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;

    background-color: rgb(235, 221, 196);
    border: 1px solid rgb(44, 28, 3);
    color:rgb(44, 28, 3);
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;

    width: 600px;
    height: 350px;
    
    

    justify-content: center; 
    text-align: center;
      
}

#winPanel span{
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(187, 36, 36);
}

#winMsg{
    font-family: 'Pacifico-Regular';
    margin: auto;
    margin-top: 10px;
}

#highScore{
    font-size:32px;
    color:rgb(44, 28, 3);
}
#highScore h4{
    margin-bottom:7px;
    margin-top: 20px;
}
#highScore input{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(187, 187, 187);
    font-size: 24px;
    border-radius: 10px;
    margin:0px;
    width:250px;
    height: 25px;
    outline:none; 
}


